<h2>Booking Not Approved</h2>
<p>Hello {{user.firstName}},</p>

<p>We're sorry to inform you that your booking for
  <strong>{{booking.room.name}}</strong>
  has been
  <strong>refused</strong>.</p>

<p>Please feel free to try booking another time or reach out to support if you have questions.</p>

<p>Sincerely,<br />ImpactLab Team</p>