<p>Bonjour,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour le réinitialiser :</p>

<p><a href="{{resetLink}}">Réinitialiser le mot de passe</a></p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>